# MongoDB Configuration
MONGODB_URI=mongodb://localhost:27017/money-tracker

# Server Configuration
PORT=3001

# Google Auth Configuration
VITE_GOOGLE_CLIENT_ID=YOUR_GOOGLE_CLIENT_ID.apps.googleusercontent.com
